<p id="notice"><%= notice %></p>

<p>
  <strong>Dbfile:</strong>
  <%= @fileupload.dbfile_url.to_s %>
  <%= image_tag @fileupload.dbfile_url() if @fileupload.dbfile? %>
</p>

<%= link_to 'Edit', edit_fileupload_path(@fileupload) %> |
<%= link_to 'Back', fileuploads_path %>
